{% extends "base.html" %}

{% block title %}Article List{% endblock %}
{% block content %}
{% include 'articles/statistic.html' with most_commented_articles=most_commented_articles %}
<p>Daftar Article :</p>
<table style="width: 100%">
    <colgroup>
       <col style="width: 5%">
       <col style="width: 5%">
       <col style="width: 5%">
       <col style="width: 5%">
    </colgroup>
    <thead>
        <tr>
            <td>Judul</td>
            <td>Terbit</td>
            <td>Category</td>
            <td>Dilihat</td>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a></td>
                <td>{{ article.published_at }}</td>
                <td>{{ article.category }}</td>
                <td>{{ article.views }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}