<p>Article dengan komentar terbanyak :</p>
<table style="width: 100%">
    <colgroup>
       <col style="width: 50%">
       <col style="width: 50%">
    </colgroup>
    <thead>
        <tr>
            <td>Judul</td>
            <td>Total Komentar</td>
        </tr>
    </thead>
    <tbody>
        {% for articles in most_commented_articles %}
            <tr>
                <td><a href="{% url 'articles:detail' articles.id %}">{{ articles.title }}</a></td>
                <td>{{ articles.total_comment }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>Member dengan komentar terbanyak :</p>
<table style="width: 100%">
    <colgroup>
       <col style="width: 50%">
       <col style="width: 50%">
    </colgroup>
    <thead>
        <tr>
            <td>Nama</td>
            <td>Total Komentar</td>
        </tr>
    </thead>
    <tbody>
        {% for commenter in most_commenter %}
            <tr>
                <td><a href="{% url 'members:profile' commenter.user.member %}">{{ commenter.user.member }}</a></td>
                <td>{{ commenter.total_comment }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr/>