<h1>Statistik :</h1>
<h1>Article dengan komentar terbanyak :</h1>
<table style="width: 100%">
    <colgroup>
       <col style="width: 5%">
       <col style="width: 20%">
    </colgroup>
    <thead>
        <tr>
            <td>Judul</td>
            <td>Total Komentar</td>
        </tr>
    </thead>
    <tbody>
        {% for article in most_commented_articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.total_comment }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<h1>Member dengan komentar terbanyak :</h1>
<table style="width: 100%">
    <colgroup>
       <col style="width: 5%">
       <col style="width: 20%">
    </colgroup>
    <thead>
        <tr>
            <td>Nama</td>
            <td>Total Komentar</td>
        </tr>
    </thead>
    <tbody>
        {% for commenter in most_commenter %}
            <tr>
                <td>{{ commenter.author }}</td>
                <td>{{ article.total_comment }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr/>